{{!-- {{page-title "Authors"}} --}}

<h2>Authors</h2>
<ul>
{{#each @model as |author|}}
<li>{{author.givenName}} {{author.familyName}} <button type="button" {{on "click" (fn this.deleteAuthor author)}}>Delete</button></li>
{{/each}}
</ul>
<AuthorForm @onSubmit={{this.createAuthor}}/>